.navbar .navbar-expand-lg li a {
  color: white;
}

.jumbotron {
  background-position: center;
  text-align: center;
  /**height: 200px;*/
  color: black;
  font-family: 'Roboto';
}

.titulo-articulo-index {
  text-align: center;
  font-family: 'League Spartan';
  font-size: large;
  color: black;
}

.card {
  text-align: center;
  font-family: 'Roboto';
  font-size: medium;
  color: #1D1D1B;

}


.titulo-articulo-index {
  margin: 2%;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 555;
  font-style: normal;
}


.col {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e1e1e;
  color: white;
  padding: 20px 10px;
  text-align: center;
}


#podcast-container {
  width: 100%;
  margin: 0%;
  padding: 0%;
}


section.episode {
  background-color: #fa931d;
  margin-bottom: 25px;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

section.episode h2 {
  margin-top: 1%;
  font-size: 1.5em;
  color: #ffffff;
}

section.episode p {
  font-size: 1em;
  color: #522b00;
}

audio {
  width: 100%;
  margin-top: 15px;
  height: 60px;
 
}
audio::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure {
    overflow: hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% - 30px); /* Ajusta si es necesario */
}
